@font-face {
  font-family: "iconfont"; /* Project id 2834297 */
  src: url('iconfont.woff2?t=1632574761424') format('woff2'),
       url('iconfont.woff?t=1632574761424') format('woff'),
       url('iconfont.ttf?t=1632574761424') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e600";
  font-size: 20px;
}

.icon-tianchongxing-:before {
  content: "\e638";
  font-size: 20px;
}

